*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Keep adding new columns - even if theres is no content for them. content does not always take up full width */
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  /* Don't add more columns than theres is content for. && +content "always" take full width */
  grid-gap: 1rem;
  grid-template-rows: repeat(auto-fit, minmax(300px, auto));
  padding: 0.5rem;
  /* background-color: #252525; */
  background: rgb(37, 37, 37);
  background: radial-gradient(
    circle,
    rgba(37, 37, 37, 1) 79%,
    rgba(245, 25, 161, 1) 100%
  );
  color: white;
}

h1 {
  font-size: 3em;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 2em;
  font-family: poppins;
  font-weight: 700;
}

ul {
  list-style: none;
}

li {
}

a {
  text-decoration: none;
  font-size: 1.5em;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}

a:link {
  color: white;
}
a:hover {
  color: tomato;
}
a:visited {
  color: white;
}
a:active {
  color: black;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / auto-fill;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 1.5em;
  margin-left: 2em;
  padding: 1em;
}

#mainlist {
  grid-row: 2 / 3;
  grid-column: 1 / auto-fill;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(40vh, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(40vh, 1fr)); */
  /* Keep adding new rows - even if theres is no content for them. content does not always take up full height */
}
#productpage {
  grid-row: 2 / 3;
  grid-column: 1 / auto-fill;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(auto-fill, minmax(40vh, 1fr)); */
  /* Keep adding new rows - even if theres is no content for them. content does not always take up full height */
}

footer {
  grid-row: 3 / auto-fit;
  grid-column: 1 / auto-fill;
  font-size: 1rem;
}

footer > a {
  font-size: 0.5rem;
}

.shirt {
  /* border-style: solid;
  border-color: black;
  border-radius: 2em;
  border-width: 1px; */
  display: flex;
  flex-flow: column;
  /* flex-wrap: wrap; */
  padding: 1rem;
  margin: 1rem;
}

article > button {
  background: #f5b231;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  border-style: none;
  margin-top: auto;
}

button {
  background: #f5b231;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 2rem;
  margin: 1rem;
  padding: 0.5rem;
  border-style: none;
}

button > a:link {
  color: white;
}

button > a:visited {
  color: white;
}
button > a:hover {
  color: violet;
}
button > a:active {
  color: black;
}

article > img {
  order: -1;
  align-self: center;
  max-width: 100%;
  height: auto;
}

article > h1 {
  margin: 1rem 1rem 0;
}

p {
  font-size: 1em;
  font-family: poppins;
  font-weight: 300;
  color: gray;
  margin: 0.25em 1rem 1rem;
}

.discounted {
  display: flex;
}

.addtocart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* productlist */

.productlist article {
}
.productlist article.soldOut img {
  opacity: 0.5;
}

.productlist article.soldOut::before {
  content: "Sold Out";
  position: absolute;
  background: var(--color);
  padding: 1rem;
}

.productlist article .discounted,
.productlist article .price span {
  display: none;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

.discounted > p {
  margin-bottom: 0;
}

.productlist article.onSale .price span {
  display: initial;
}

.productlist article button {
  margin-top: auto;
}

.productlist article {
  margin-bottom: 1rem;
}
